

<% if @no_instructors.size > 0 || @low_enroll.size > 0 %>
<div class='alert-panel' >
<!-- upcoming camps -->
<!-- THERE'S NO INSTRUCTORS FOR THESE CAMPS --> 
<strong> ATTENTION  </strong><br /><br />

<% if @no_instructors.size > 0 %>
The following camps have NO INSTRUCTORS: <br /><br />
<table class= 'alert-table'>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>Enrolled</th>
    <th>Max Enroll</th>
  </tr>

<% @no_instructors.each do |camp| %>
  <tr>
    <td><%= link_to camp.name, camp_path(camp) %></td>
    <td><%= camp.start_date.strftime('%m/%d/%y') %></td>
    <td><%= camp.registrations.size %></td>
    <td><%= camp.max_students %></td> 
  </tr>
<% end %>
</table>
<% end %>


<!-- NOBODY IS REGISTERED! --> <br />

<% if @low_enroll.size > 0 %>
The following camps have LITTLE OR NO ENROLLMENT: <br /><br />
<table class= 'alert-table'>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>Enrolled</th>
    <th>Max Enroll</th>
  </tr>

<% @low_enroll.each do |camp| %>
  <tr>
    <td><%= link_to camp.name, camp_path(camp) %></td>
    <td><%= camp.start_date.strftime('%m/%d/%y') %></td>
    <td><%= camp.registrations.size %></td>
    <td><%= camp.max_students %></td>
  </tr>
<% end %>
</table>
<% end %>

</div>
<%end%>
<br/> <br/>
<div class = 'report-panel' > 
<br />
<div>
<strong> Generate Reports </strong><br/><br/>

<ol> 
<li> <%= link_to 'This year\'s payment report', payments_path %> </li><br/>

<li> Pick a camp to view its specific payment report
   <!-- GENERATE REPORT FOR A CAMP OF CHOOSING -->
<%= form_tag(camp_report_path) do %>
<%= select_tag(:camp_id, options_for_select(@all_camps.map { |c| [c.start_date.strftime('%m/%d/%y') + " - " +c.name.to_s, c.id]})) %>
<%= submit_tag("Generate camp report", class: "button tiny radius") %>
<% end %>
</li><br/>

<li> Pick a family to view its specific payment report for a given year
 <!-- GENERATE REPORT FOR A FAMILY OF CHOOSING -->
<%= form_tag(family_report_path) do %>
<%= select_tag(:family_id, options_for_select(@all_families.map { |f| [f.to_s, f.id]}.uniq.sort)) %>
<%= select_tag(:year, options_for_select(@all_camps.map{ |c| [c.start_date.year, c.start_date.year]}.uniq)) %>
<%= submit_tag("Generate family report", class: "button tiny radius") %>
<% end %>


</li>

</ol>

</div>




</div>
<br /><br /><br />

