<h2> Annual Payment Report </h2>
A list of payments for each camp in <%= Date.today.year %> 
<hr />

<% if !@camps.nil? %>

<br /><% @camps.each do |c| %>

<h4> <%= c.name %> on <%= c.start_date %> (<%= number_to_currency(c.cost) %>) </h4>
<% if c.registrations.size > 0 %>
<table class='printable'>
	<tr>
		<th> Parent </th>
		<th> Student </th> 
		<th> Amount Paid </th>
		<th> Balance Due </th>
	</tr>



	<% c.registrations.each do |r| %>
	<tr>
		<td> <%= r.student.family.parent_first_name.to_s + " " + r.student.family.family_name.to_s %></td>
		<td> <%=r.student.proper_name %> </td>
		<td> <%=r.payment_status == 'full' ? number_to_currency(c.cost) : number_to_currency(50) %> </td>
		<td> <%=r.payment_status == 'full' ? number_to_currency(0) : number_to_currency(c.cost - 50) %> </td>
	</tr>
	<% end %>

	<tr> 
		<th> Total: </th>
		<th> </th>
		<th> <%= number_to_currency(c.amount_paid) %> </th>
		<th> <%= number_to_currency(c.cost * c.registrations.size - c.amount_paid) %> </th>
	</tr>
	
</table> 
<% else %> 
No registrations! <br /><br />
<% end %>
<% end %>

<% end %>
